In [1]:
# Import dependencies
import pandas as pd
import sqlite3

In [3]:
test_df = pd.read_csv("EURUSD_HistoricalPrices.csv")
test_df.head()

       Date    Open    High     Low   Close
0  01/01/25  1.0356  1.0364  1.0352  1.0359
1  12/31/24  1.0409  1.0426  1.0345  1.0355
2  12/30/24  1.0427  1.0459  1.0373  1.0408
3  12/27/24  1.0419  1.0446  1.0406  1.0428
4  12/26/24  1.0407  1.0432  1.0381  1.0425